* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: black;
    font-size: 20px;
  }
  
  /* navbar */
  nav {
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    top: 0;
  }
  
  nav .logo {
    line-height: 80px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 48px;
    margin-left: 20px;
    cursor: context-menu;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden;
  }
  
  nav ul li {
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  nav ul li a {
    text-decoration: none;
    line-height: 80px;
    padding: 10px;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav ul li a:hover {
    background-color: black;
    padding: 10px;
  }
  
  nav ul li .active {
    background-color: black;
    padding: 10px;
  }
  
  /* container */
  .container {
    width: 100%;
    height: 100vh;
    background-image: url(../image/best/lalaland1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-position: center;
  }
  
  .container .text {
    position: relative;
    text-align: center;
    font-size: 72px;
    top: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .container .text p {
    background-color: gray;
  }
  
  .container .text .judul {
    font-size: 72px;
  }
  
  .container .text .thn {
    font-size: 50px;
  }
  
  /* content */
  .content {
    width: 95%;
    height: 100%;
    margin: 40px auto;
  }
  
  .content .text{
    margin-bottom: 50px;
  }
  
  .content .text h2 {
    font-weight: 900px;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .content .text p {
    font-size: 20px;
  }
  
  /* trailer */
  .content .trailer h2 {
    font-weight: 900px;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  /* more movies */
  .content .more {
    margin: 50px 0;
  }
  
  .content .more h2 {
    font-weight: 900px;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .content .more .image {
    display: flex;
    justify-content: space-between;
  }
  
  .content .more .image img {
    width: 212px;
    height: 320px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 3px 1px rgb(255, 255, 255);
  }
  
  .content .more .image img:hover {
    transform: scale(105%);
    transition: 0.3s;
  }
  
  /* copyright */
  footer {
    margin-top: 80px;
    background-color: gray;
    height: 100px;
    position: relative;
  }
  
  footer p {
    text-align: center;
    color: black;
    position: absolute;
    top: 80px;
    left: 40%;
  }
  